<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h3>プロフィール</h3>
			<br>
			<br>
			<p><strong>名前</strong></p>
			<%= current_creater.name %>
			<br>
			<br>
			<p><strong>プロフィール</strong></p>
			<%= current_creater.profile %>
			<br>
			<br>
			<p><%= link_to "edit", edit_creaters_profile_path, class:"btn btn-default" %></p>
		</div>
	</div>
</div>
