<div class="container">
  <div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>about</h1>
			<p>このサイトは、とある架空の村の伝統工芸品を販売するWebサイトです。</p>
			<p>村がサイトの管理者としてすべての注文・発送の取りまとめを行っています。</p>
			<p>村には複数の伝統工芸品の製作者が居ます。</p>
			<p>注文者は好きな作品を、製作者ごとではなくこのWebサイト単位でまとめて購入ができます。</p>
			<p>商品の閲覧やお問い合わせは会員登録なしで利用できますが、購入・お気に入り登録は会員登録が必要です。</p>

			<h3>機能</h3>

			<h4>管理者</h4>
			<p>新規問い合わせ・新規注文・新規発送待ち品の管理機能</p>
			<p>（新規注文は、注文が確定されると管理画面に表示されます）</p>
			<p>（発送待ち品は、注文の全ての製品が製作完了になると管理画面に表示されます）</p>
			<p>製作者の追加編集</p>
			<p>商品の確認・編集</p>
			<p>会員の確認・編集</p>
			<p>注文の確認・注文ステータスの確認変更</p>
			<p>問い合わせの確認・ステータス変更</p>
			
			<h4>製作者</h4>
			<p>新規注文品の確認と製作中の製品の管理</p>
			<p>（新規注文品は、注文ステータスが入金済みになると製作者管理画面に表示されます）</p>
			<p>商品の追加・編集</p>
			<p>注文の確認・製作ステータス変更</p>
			<p>自分のプロフィールの確認・編集</p>

			<h4>会員</h4>
			<p>新規登録とログイン</p>
			<p>商品の購入</p>
			<p>登録情報の確認変更</p>
			<p>購入一覧の確認</p>
			<p>商品のお気に入り（イイネ）追加と自分のお気に入り一覧の確認</p>

			<h3>テストアカウント</h3>
			<p>フッターよりログイン可能</p>
			<p>管理者</p>
			<p>メール：admin@example.com</p>
			<p>パスワード：000000</p>
			<p>製作者1</p>
			<p>メール：creater1@example.com</p>
			<p>パスワード：000000</p>
			<p>製作者2</p>
			<p>メール：creater2@example.com</p>
			<p>パスワード：000000</p>


		</div>
  </div>
</div>
