<div class="container">
  <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<h3>会員一覧</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>会員id</th>
					<th>名前</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @end_users.each do |end_user| %>
				<tr>
					<td><%= end_user.id %></td>
					<td>
						<%= link_to(admins_end_user_path(end_user.id)) do %>
						<%= end_user.name_family %><%= end_user.name_first %>
						<% end %>
					</td>
					<td>
						<% if end_user.is_deleted == false %>
						有効会員
						<% else %>
						退会済み
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
  </div>
</div>
