<div class="container">
  <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<h3>会員一覧</h3>
		<table>
			<thead>
				<tr>
					<th>name</th>
				</tr>
			</thead>
			<tbody>
				<% @end_users.each do |end_user| %>
				<tr>
					<td><%= link_to end_user.name, admins_end_user_path(end_user.id) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
  </div>
</div>
