<div class="container">
  <div class="row">
    <div class="col-lg-9 col-xs-offset-3">
      <br>
      <h4>製作者ログイン</h4>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xs-offset-3">
        <div class="row">
            <div class="form-horizontal" role="form">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <label class="col-sm-3 control-label">メールアドレス</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-9" %>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">パスワード</label>
                <%= f.password_field :password, autocomplete: "current-password", class:"col-sm-9" %>
              </div>
              <br>
              <br>

              <div class="form-group">
                <%= f.submit "ログイン", class:"btn btn-default, col-sm-2 col-xs-offset-5" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>